name: Smart Dependabot Notifications

on:
  workflow_run:
    workflows: ['ci']  # This matches the workflow name in packages.ensure-labels.yml and ci.yml
    types:
      - completed

jobs:
  notify-on-failure:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      actions: read
    steps:
      - name: Add reviewers on failure
        uses: dariacm/smart-dependabot-notifications@v1
        with:
          github-token: ${{ github.token }}
          reviewers: 'dariacm'
          team-reviewers: ''
          comment: 'Testing GitHub actions, please ignore me'
